doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    title Goodbye Button
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
  body
    h1 Lets make stuff appear and disapear
    #container
      button#addButtons.buttons Add Buttons
      button#buttonA.buttons Remove 'Add Buttons'
      button#buttonB.buttons


      


