doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Select and Paint
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='js/vendor/jquery.js')
    script(src='js/source/main.js')
  body
    h1 Select and Paint
    input#colorInput(type='text' placeholder='Insert Color' autofocus)
    button#addOption Add To List
    select#selector
    div#box


