doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Robot Fights
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery-1.10.2.js')
    script(src='/js/source/main.js')
  body

     header
       h1 Drill 2 
       img(src="http://cdn.gifbay.com/2013/02/robot_combat_league_7_foot_robots_fighting_a_nice_hit_from_the_first_episode-35751.gif")
     div#bacon 
       ul
         -for (var i = 0; i < 100; i++)
          li= i  


