doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Weather Forecast
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='js/vendor/jquery.js')
    script(src='js/source/main.js')
  body
    h1 Weather Forecast
    button#getWind Get Wind
    h2#windDesc
    h2#direction
    h2#degrees
    h2#speedMPH
    h2#gustMPH
