doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Zipcode Forecast
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='js/vendor/jquery.js')
    script(src='js/source/main.js')
  body
    h1 Forecast by Zipcode
    input#inputZip(type='text' placeholder='Zip Code' autofocus)
    button#addZip Add to List
    select#selector
    button#getForecast Get Forecast


