doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title I Love Li's
    link(rel='stylesheet' src='/css/normalize.css')
    link(rel='stylesheet' src='/css/style.css')
    script(src='/js//vendor/jquery.js')
    script(src='/js/source/main.js')
  body
   input#inputBox(type='text', placeholder='Insert Number', autofocus) 
   button#button Add Li's
   #container
     ul#mainUL

