doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Jade Tutorial
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery-1.10.2.js')
    script(src='/js/source/main.js')
  body

     header
       h1 Drill 1
       img(src="http://ichef.bbci.co.uk/naturelibrary/images/ic/credit/640x395/a/an/animal/animal_1.jpg")
    footer
       copyright 2015
