doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Foundation 5
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .row
      .small-12.columns
        h1 Stock Quotes
    .row
      .small-3.columns
        input#inputSym(placeholder = 'AAPL')
      .small-3.columns
        button#getQuote Get Quote
      .small-6.columns
    .row
      .small-12.columns
        #answer
    .row
      .smal-12.columns
        #spacer
    .row
      .small-3.columns
        input#inputSym2(placeholder = 'AAPL')
      .small-3.columns
        button#getQuote2 Get Quote2
      .small-6.columns
    .row
      .small-12.columns
        #answer2

    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/source/main.js')

