doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title MAGIC IMAGES
    link(rel='stylesheet' href='/css/normalize.css')
    link(rel='stylesheet' href='/css/style.css')
    script(src='js/vendor/jquery.js')
    script(src='js/source/main.js')
  body
    input#inputURL(type='text' placeholder='Insert IMG URL' autofocus)
    button#addImage Add Image To Collection
    #container

